@font-face {
    font-family: "interReg";
    src: url(../Inter/static/Inter-2.ttf);
}
@font-face {
    font-family: "interMedia";
    src: url(../Inter/static/Inter-4.ttf);
}
@font-face {
    font-family: "interNegrita";
    src: url(../Inter/static/Inter-6.ttf);
}
