*{
    padding: 0;
    margin: 0;
    font-family: 'interMedia';
    color: #000;
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}
ul{
    margin: 0;
}
a{
    text-decoration: none;
    list-style-type:none;
    color: #000000;
}
